{% extends "manager/global_raw.html.twig" %}
{% block global_content %}
    <div class="app">
        <header>

        </header>
        <aside>
            <div class="logo_block">
                Админ. панель
            </div>
            <div class="navigation-title">
                Меню
            </div>
            <ul class="navigation" >

                <li >
                    <a style="background-color: #0b58a2;" href="{{ global.base_url }}/manager/taxi/callbacks/"><b>Заявки</b></a>
                </li>
                <li>
                    <a style="background-color: #BC6060;" href="{{ global.base_url }}/manager/taxi/orders/"><b>Заказы</b></a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/taxi/prices/113/">Тарифы Аэропорт</a>
                </li>
{#                <li>#}
{#                    <a href="{{ global.base_url }}/manager/taxi/prices/114/">Тарифы ЖД</a>#}
{#                </li>#}
                <li>
                    <a href="{{ global.base_url }}/manager/taxi/prices/cities/">Тарифы города</a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/taxi/routes/">Маршруты</a>
                </li>
                <li>
                <a href="{{ global.base_url }}/manager/taxi/classes/">Классы</a>
                </li>
                <li>
                <a href="{{ global.base_url }}/manager/taxi/cars/">Автомобили</a>
                </li>
                <li>
                <a href="{{ global.base_url }}/manager/taxi/rent_cars/">Аренда авто</a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/taxi/rent_requests/">Заявки на аренду</a>
                </li>
{#                <li>#}
{#                    <a href="{{ global.base_url }}/manager/taxi/drivers/">Водители</a>#}
{#                </li>#}
{#                <li>#}
{#                <a href="{{ global.base_url }}/manager/taxi/reviews/">Отзывы</a>#}
{#                </li>#}
                <li>
                <a href="{{ global.base_url }}/manager/taxi/partners/">Сотрудничество</a>
                </li>
                <li>
                <a href="{{ global.base_url }}/manager/taxi/clients/">Клиенты</a>
                </li>

                <li>
                    <a href="{{ global.base_url }}/manager/taxi/cities/">Города</a>
                </li>
                <li class="list">
                    <a href="{{ global.base_url }}/manager/content/">Блог/Контент</a>
                    <ul class="navigation child">
{#                        <li>#}
{#                            <a href="{{ global.base_url }}/manager/content/pages/">Страницы</a>#}
{#                        </li>#}

                        <li>
                            <a href="{{ global.base_url }}/manager/content/news/">Новости</a>
                        </li>
{#                        <li>#}
{#                            <a href="{{ global.base_url }}/manager/content/routes/">Маршруты</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ global.base_url }}/manager/content/hotels/">Гостиницы</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ global.base_url }}/manager/content/places/">Места</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ global.base_url }}/manager/taxi/categories/">Категории</a>#}
{#                        </li>#}
                    </ul>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/settings/">Группы полей</a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/seo/">SEO</a>
                </li>
                <li >
                    <a style="background-color: #bd2c00;" href="{{ global.base_url }}/logout">Выйти</a>
                </li>
            </ul>
        </aside>
        <div id="content">
            <div id="breadcrumbs">
                <h1>{{ global.page.title }}</h1>
                <ul>
                    <li><a href="{{ global.base_url }}">Панель управления</a></li>
                    {% for item in global.page.breadcrumbs %}
                        <li> {% if item.link %}
                        <a href="{{ item.link }}">{{ item.title }}</a></li>
                    {% else %}
                        {{ item.title }}
                    {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            2021 © ARIF
        </footer>
    </div>
    <div class="notify-admin">

    </div>
{% endblock %}
