{% set assets_version=5 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="ru" />
    <title>{{ global.header.title }}{% if global.server.REQUEST_URI!='/' and global.header.skip_last_title!=1%} - {{ global.fields.company.name }}{% endif %}</title>
    <meta property="og:title" content="{{ global.header.title }}{% if global.server.REQUEST_URI!='/' %} - {{ global.fields.company.name }}{% endif %}" />

    {% block meta %}{% endblock %}

    <meta name="robots" content="all"/>
    <link rel="shortcut icon" href="{{ global.base_url }}/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script src="{{ global.base_url }}/assets/components/html5shiv/dist/html5shiv.js"></script>
    <script src="{{ global.base_url }}/assets/components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ global.base_url }}/assets/js/libs/modernizr.js"></script>
    <link rel="stylesheet" href="{{ global.base_url }}/assets/vendors/jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="{{ global.base_url }}/assets/vendors/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ global.base_url }}/assets/vendors/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ global.base_url }}/assets/vendors/colorpicker/jquery.colorpicker.css">
    <link rel="stylesheet" href="{{ global.base_url }}/assets/vendors/jstree/dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="{{ global.base_url }}/assets/css/backend.css?{{ assets_version }}">
    <script src="{{ global.base_url }}/assets/images/sprites/grunticon.loader.js"></script>
    <script>
      grunticon(["{{ global.base_url }}/assets/images/sprites/icons.data.svg.css", "{{ global.base_url }}/assets/images/sprites/icons.data.png.css", "{{ global.base_url }}/assets/images/sprites/icons.fallback.css"], grunticon.svgLoadedCallback);
    </script>
    <noscript><link href="{{ global.base_url }}/assets/images/sprites/icons.fallback.css" rel="stylesheet"></noscript>
</head>
<body {% if global.page.page_class %}class="{{ global.page.page_class }}"{% endif %}>

{% block global_content %}{% endblock %}

{% include 'backend/components/editor/editor.twig' %}

{#<script type="text/javascript" src="{{ global.base_url }}/assets/js/lang/ru_admin.js"></script>#}
<script type="text/javascript" src="{{ global.base_url }}/assets/js/backend.js?{{ assets_version }}"></script>
<script src="/assets/vendors/tinymce/emoji-picker/lib/js/config.js"></script>
<script src="/assets/vendors/tinymce/emoji-picker/lib/js/util.js"></script>
</body>
</html>
