{% extends "manager/global_raw.html.twig" %}
{% block global_content %}
    <div class="app">
        {# <header> #}

        {# </header> #}
        <aside>
            <div class="logo_block">
                Админ. панель
            </div>
            <div class="navigation-title">
                Меню
            </div>
            <ul class="navigation">

                <li>
                    <a href="{{ global.base_url }}/manager/courses/catalog/">Направления</a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/courses/themes/">Курсы</a>
                </li>
                <li class="list">
                    <a href="{{ global.base_url }}/manager/content/">Блог/Контент</a>
                    <ul class="navigation child">
                         <li>
                         <a href="{{ global.base_url }}/manager/content/pages/">Страницы</a>
                         </li>

                        <li>
                            <a href="{{ global.base_url }}/manager/content/articles/">Статьи</a>
                        </li>
                        {# <li> #}
                        {# <a href="{{ global.base_url }}/manager/content/routes/">Маршруты</a> #}
                        {# </li> #}
                        {# <li> #}
                        {# <a href="{{ global.base_url }}/manager/content/hotels/">Гостиницы</a> #}
                        {# </li> #}
                        {# <li> #}
                        {# <a href="{{ global.base_url }}/manager/content/places/">Места</a> #}
                        {# </li> #}
                        {# <li> #}
                        {# <a href="{{ global.base_url }}/manager/taxi/categories/">Категории</a> #}
                        {# </li> #}

                    </ul>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/settings/">Группы полей</a>
                </li>
                <li>
                    <a href="{{ global.base_url }}/manager/faqs/">FAQ</a>
                    <a href="{{ global.base_url }}/manager/seo/">SEO</a>
                </li>
                <li>
                    <a style="background-color: #bd2c00;" href="{{ global.base_url }}/logout">Выйти</a>
                </li>
            </ul>
        </aside>
        <div id="content">
            <div id="breadcrumbs">
                <h1>{{ global.page.title }}</h1>
                <ul>
                    <li><a href="{{ global.base_url }}">Панель управления</a></li>
                    {% for item in global.page.breadcrumbs %}
                        <li> {% if item.link %}
                        <a href="{{ item.link }}">{{ item.title }}</a></li>
                    {% else %}
                        {{ item.title }}
                    {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            2021 © ARIF
        </footer>
    </div>
    {# <div class="notify-admin"> #}

    {# </div> #}
{% endblock %}
