{% extends "manager/global.html.twig" %}
{% block content %}

    <div class="actions">
        <a class="btn btn-primary" href="{{ global.base_url }}/manager/faqs/add/">Добавить faq</a>
    </div>

    <div class="table_data">
        <table class="table_bordered table_striped">
            <thead>
            <tr>
                <th style="width: 50px">ID</th>
                <th style="width: 75px">Статус</th>
                <th>Название</th>
                <th class="action_button_3"></th>
            </tr>
            </thead>
            <tbody class="table_content">
            {% for item in list %}
                <tr data-id="{{ item.faqs_id }}">
                    <td class="data_id">{{ item.faqs_id }}</td>
                    <td>
                        <div class="object_status  {% if item.faqs_status!=1%}no{% else %}yes{% endif %}" data-value="{{ item.faqs_id }}">
                            <span class="badge badge-danger">нет</span>
                            <span class="badge badge-success">да</span>
                        </div>
                    </td>
                    <td>
                        <a href="{{ global.base_url }}/manager/faqs/view/{{ item.faqs_id }}/">{{ item.faqs_title }}</a>
                    </td>
                    <td>
                        <a href="{{ global.base_url }}/manager/faqs/edit/{{ item.faqs_id  }}/" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <div data-value="{{ item.faqs_id }}" class="btn btn-danger btn-xs delete"><i class="fa"></i></div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
