{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="block_item bg_dark1">
    <div class="block_item__content">
        <div class="container">
            <div class="theme_wrapper">
                <div class="theme_wrapper_videos">
                    <div class="theme_title"><h3>{{ theme.theme_title }}</h3></div>
                    <div class="theme_desc">
                        {{ theme.theme_desc|raw }}
                    </div>
                    <div class="theme_videos_wrapper">
                        {% if main_video.video_id %}
                            {% include 'frontend/components/video_thumb/video_thumb_main.twig' %}
                        {% endif %}
                        {% if blocks|length %}
                            {% for block in blocks %}
                                <div class="theme_videos_block">
                                    <div class="theme_videos_block_title">{{ block.block_title }}</div>
                                    <div class="theme_videos">
                                        {% for video in block.videos %}
                                            {% include 'frontend/components/video_thumb/video_thumb.twig' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if videos|length %}
                            <div class="theme_videos_block">
                                <div class="theme_videos">
                                    {% for video in videos %}
                                        {% include 'frontend/components/video_thumb/video_thumb.twig' %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="theme_wrapper_sidebar">
                    <div class="cart_info">
                        <div class="cart_info_title">
                            Информация о покупке:
                        </div>
                        <div class="cart_info_desc">
                            <div class="cart_info_desc_item cart_info_desc_item_inline">
                                <div class="cart_info_desc_text">Распространяется разовая скидка при покупке более 10
                                    видео.
                                </div>
                                <div class="cart_info_testimonial">
                                    <div class="cart_info_testimonial_icon"><i class="fas fa-exclamation"></i></div>
                                    <div class="cart_info_testimonial_content">
                                        c 11 по 20 видео - скидка 7% <br>
                                        c 21 по 30 видео - скидка 14% <br>
                                        c 31 по 40 видео - скидка 21% <br>
                                        c 41 по 50 видео - скидка 28% <br>
                                        c 51 видео - скидка 35%
                                    </div>
                                </div>
                            </div>
                            <div class="cart_info_desc_item">
                                <div class="cart_info_desc_item_dark">Время действия подписки</div>
                                <div class="cart_info_desc_item_light">{{ theme.theme_days }} дней</div>
                            </div>
                            <div class="cart_info_desc_item">
                                <div class="cart_info_desc_item_dark">Стоимость покупки</div>
                                <div class="cart_info_desc_item_light"><span class="selected_videos_price">0</span> руб.</div>
                            </div>

                            <div class="cart_info_desc_item">
                                <div class="cart_info_desc_item_dark">Вы выбрали</div>
                                <div class="cart_info_desc_item_light"><span class="selected_videos_count">0</span> видео</div>
                            </div>

                        </div>
                        <ul class="cart_info_videos">

                        </ul>
                        <div class="cart_info_button cart_info_button_videos cart_info_button_disabled">
                            <div class="cart_info_button_title">Купить подписку</div>
                            {{ Svg.icon('cart', 1, 20,20) }}
                        </div>
                        <div class="cart_info_line"></div>
                    </div>
                    <div class="cart_info">
                        <div class="cart_info_title cart_info_title_pad ">
                            Премиум подписка:
                        </div>
                        <div class="cart_info_desc">
                            <div class="cart_info_desc_item">
                                <div class="cart_info_desc_item_dark">Стоимость</div>
                                <div class="cart_info_desc_item_light">{{ theme.theme_all_price }} руб.</div>
                            </div>
                            <div class="cart_info_desc_item">
                                <div class="cart_info_desc_item_full">Полный доступ ко всем урокам, без ограничений по
                                    времени. Вам также будут доступны последующие обновления категории “Перетяжка
                                    салона”.
                                </div>
                            </div>
                        </div>
                        <div class="cart_info_button cart_info_button_green js_buy_premium">
                            <div class="cart_info_button_title">Купить премиум аккаунт</div>
                            {{ Svg.icon('cart', 1, 20,20) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>