{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="header_background" style="background-image: url('{{ global.page.background }}');"></div>
<div class="header">
    <div class="header_links">
        <div class="container">
            <div class="header_links_wrapper">
                <div class="header_links__socials">
                    {% for social in global.socials %}

                        <a href="{{ social.social_url }}" class="header_links__item" title="{{ social.social_title }}">
                            {{ Svg.icon(social.social_icon,1) }}
                        </a>
                    {% endfor %}
                </div>

                <div class="header_links__phone">
                    <a href="tel:{{ global.fields.about.about_phone|replace({'(':'',')':'',' ':'','-':''}) }}"
                       class="header_links__item">
                        {{ Svg.icon('header_phone',1) }}
                    </a>
                    <a href="tel:{{ global.fields.about.about_phone|replace({'(':'',')':'',' ':'','-':''}) }}"
                       class="header_links__item_phone ">
                        {{ global.fields.about.about_phone }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main_menu">
            <div class="main_menu_links">
                <a href="/">
                    {{ Svg.icon('logo',1, 105,60) }}
                </a>

                <a href="/about" class="main_menu_link">
                    Кто мы
                </a>
                <a href="{{ global.base_url }}/videocatalog/" class="main_menu_link">
                    Видеокаталог
                </a>
                <a href="/blog" class="main_menu_link">
                    Блог
                </a>
                <a href="/contact" class="main_menu_link">
                    Контакты
                </a>
                <div class="main_menu_link_cabinet">
                    <a href="/login"></a>
                    {{ Svg.icon('user',1, 15, 18) }}
                    <span>
                        Личный кабинет
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>

{% if is_home %}
    {% include 'frontend/components/hero/hero.twig' %}
{% endif %}