{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<footer>
    <div class="container">
        <div class="footer_row1">
            <div class="footer_col">
                <a href="{{ global.base_url }}" class="footer_item footer_item__logo">
                    {{ Svg.icon('logo', 1, 105,53) }}
                </a>
                <div class="footer_item footer_item__title">
                    Видеотека интерьерного тюнинга
                </div>
                <div class="footer_item footer_item__payment">
                    Иконки
                </div>
            </div>
            <div class="footer_col">
                <a href="#" class="footer_item footer_item__link">
                    Видеокаталог
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Кто мы
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Блог
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Контакты
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Поддержка
                </a>
                <a href="#" class="footer_item footer_item__link">
                    YouTube канал
                </a>
            </div>
            <div class="footer_col">
                <a href="#" class="footer_item footer_item__link">
                    Платежи по подписке
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Политика использования Cookies
                </a>
                <a href="#" class="footer_item footer_item__link">
                    Политика конфиденциальности

                </a>

            </div>
        </div>

        <div class="footer_row2">

            <div class="footer_links__copyright">
                {{ global.fields.about.about_copy }} <br> {{ global.fields.about.about_org }} |
                ОГРНИП {{ global.fields.about.about_ogrn }}
            </div>
            <div class="footer_links__socials">
                {% for social in global.socials %}
                    <a href="{{ social.social_url }}" class="footer_links__item" title="{{ social.social_title }}">
                        {{ Svg.icon(social.social_icon,1) }}
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</footer>