{% for item in list %}
    <tr data-id="{{ item.block_id }}">
        <td class="data_id">{{ item.block_id }}</td>
        <td style="text-align: center">{{ item.block_title }}</td>
        <td>
            <a target="_blank" href="{{ global.base_url }}/manager/courses/themes/{{ variables.theme.theme_id }}/blocks/edit/{{ item.block_id }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
            <div data-value="{{ item.block_id }}" class="btn btn-danger btn-xs delete"><i class="fa"></i></div>
        </td>
    </tr>
{% endfor %}
