{% extends 'global.html.twig' %}
{% block content %}
    {% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
    {% import 'frontend/elements/input/input_macro.twig' as Input %}

    <div class="block_item bg_dark1">
        <div class="block_item__content">
            <div class="container">
                <div class="theme_wrapper">
                    <div class="theme_wrapper_videos">
                        <div class="theme_title"><h3>{{ theme.theme_title }}</h3></div>
                        <div class="theme_desc">
                            {{ theme.theme_desc|raw }}
                        </div>
                        <div class="theme_videos_wrapper">
                            {% if main_video.video_id %}
                                {% include 'frontend/components/video_thumb/video_thumb_main.twig' %}
                            {% endif %}
                            {% if blocks|length %}
                                {% for block in blocks %}
                                    <div class="theme_videos_block">
                                        <div class="theme_videos_block_title">{{ block.block_title }}</div>
                                        <div class="theme_videos">
                                            {% for video in block.videos %}
                                                {% include 'frontend/components/video_thumb/video_thumb.twig' %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if videos|length %}
                                <div class="theme_videos_block">
                                    <div class="theme_videos">
                                        {% for video in videos %}
                                            {% include 'frontend/components/video_thumb/video_thumb.twig' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="theme_wrapper_sidebar">
                        <div class="cart_info">
                            <div class="form">
                                <div class="cart_info_title">
                                    Личная информация:
                                </div>
                                <div class="cabinet_info_desc">
                                    {{ Input.field('login', {
                                        label: 'Имя',
                                        parent_mod:2,
                                        value:global.user_profile.profile_name
                                    }) }}
                                </div>
                                <div class="cabinet_info_desc">
                                    {{ Input.field('email', {
                                        label: 'Почта',
                                        parent_mod:2,
                                        type:'email',
                                        value:global.user_info.user_email

                                    }) }}
                                </div>
                                <div class="cabinet_info_desc">
                                    {{ Input.field('phone', {
                                        label: 'Телефон',
                                        parent_mod:2,
                                        type:'phone',
                                        value:'+'~global.user_profile.profile_phone
                                    }) }}
                                </div>
                                <div class="cabinet_info_desc">
                                    {{ Input.field('password', {
                                        label: 'Пароль',
                                        parent_mod:2,
                                        type:'password'
                                    }) }}
                                </div>
                                <div class="cabinet_info_desc">
                                    {{ Input.field('password_confirm', {
                                        parent_mod:2,
                                        type:'password'
                                    }) }}
                                </div>
                                <div class="cart_info_button_cabinet_wr">
                                    <div class="cart_info_button cart_info_button_cabinet submit">
                                        <div class="cart_info_button_title">Сохранить</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/logout/" class="cart_info_button">
                                <div class="cart_info_button_title">Выйти из учетной записи</div>
                            </a>
                            {# <div class="cart_info_line"></div> #}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}