{% extends "emails/global.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if name %}<p><b>Имя:</b> {{ name }}</p>{% endif %}
    {% if to %}<p><b>В:</b> {{ to }}</p>{% endif %}
    {% if email %}<p><b>Email:</b> {{ email }}</p>{% endif %}
    {% if type %}<p><b>Тема:</b> {{ type }}</p>{% endif %}
    {% if text %}<p><b>Комментарий:</b> {{ text }}</p>{% endif %}
    {% if comment %}<p><b>Комментарий:</b> {{ comment }}</p>{% endif %}
{% endblock %}
