{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="video_item_space js_select_video">
    <input type="checkbox" class="video_item_checkbox js_select_video_checkbox"
       data-video_id="{{ video.video_id }}" data-video_price="{{ video.video_price }}"
       data-video_sale="{{ video.video_use_sale }}"
       data-video_title="{{ video.video_title }}">
    <div class="video_item ">
        <div class="video_item_top">
            <div class="video_item_top_image">
                <img src="{{ video.video_icon_url }}" alt="">
            </div>
        </div>
        <div class="video_item_bottom">
            <div class="video_item_bottom_heads">
                <h4 class="video_item_title">{{video.video_title}}</h4>
                <div class="video_item_desc">{{video.video_desc}}
                </div>
            </div>
            <div class="video_item_price">{{video.video_price}} рублей
            </div>
            <div class="video_item_check">{{ Svg.icon('check', 1, 20,20) }}</div>
        </div>
    </div>
</div>