<a href="{{global.base_url}}/videocatalog/{{ item.catalog_url }}/" class="way_item {{ dop_class }}" >
    <div class="way_item_image">
        <img src="{{ item.catalog_icon_normal_url }}" alt="">
    </div>
    <div>{{item.catalog_title}}</div>
</a>

